# Reading datasets

In [1]:
import pandas as pd
import os, random

In [2]:
generated_data_filepath = './Generated Sample Datasets'

shareholders_filepath = generated_data_filepath + '/shareholders.csv'
appointments_filepath = generated_data_filepath + '/appointments.csv'
addresses_filepath = generated_data_filepath + '/addresses.csv'
pri_ssic_filepath = generated_data_filepath + '/pri_ssic.csv'
corppass_filepath = generated_data_filepath + '/corppass.csv'

In [21]:
# Generate initial list of relationships
entities_list = []
shareholders_list = []
appointments_list = []
appointments_namelist = []
list_of_appointments = ['Director', 'Deputy Director', 'Finance Manager', 'HR Manager', 'Project Lead', 'CTO', 'Sales Manager']
addresses_list = []
pri_ssic_list = []
corppass_list = []

### Select number of entities to be created ###
num_entities = 10

for i in range(num_entities + 1):
    entities_list.append('en' + str(i))
    shareholders_list.append('sh' + str(i))   
    appointments_list.append('app' + str(i)) 
    appointments_namelist.append(random.choice(list_of_appointments))
    addresses_list.append('add' + str(i))   
    pri_ssic_list.append('ssic' + str(i))   
    corppass_list.append('cp' + str(i))

In [82]:
# Function to generate sample data
def generate_data(input_dict, num_rs, num_cycles, cycle_size):
    
    full_df = pd.DataFrame(input_dict, columns = input_dict.keys())
    num_entities = len(full_df)
    print(num_entities)
    # Generate random relationships across default relationships (as generated above)
    for i in range(num_rs + 1):
        temp_dict = {}
        for key in input_dict.keys():
            temp_dict.update({ key: random.choice(input_dict.get(key)[0:num_entities])})
        temp_df = pd.DataFrame([temp_dict])
        full_df = full_df.append(temp_df, sort=False).reset_index().drop(['index'], axis=1)
    
    # Generate cycles
    for i in range(num_cycles):    
        if list(full_df.iloc[:, 2:]):
            print('3 vars')
            list1, list2, list3 = enforce_cycles(list(full_df[list(input_dict.keys())[0]]), 
                                                 list(full_df[list(input_dict.keys())[1]]), 
                                                 cycle_size, 
                                                 list(full_df[list(input_dict.keys())[2]]))
            new_df = pd.DataFrame({list(input_dict.keys())[0]: list1, 
                                    list(input_dict.keys())[1]: list2,
                                    list(input_dict.keys())[2]: list3}) 
        else:
            print('2 vars')
            list1, list2, list3 = enforce_cycles(list(full_df.iloc[:, 0]), 
                                                 list(full_df.iloc[:, 1]), 
                                                 cycle_size)
            new_df = pd.DataFrame({list(input_dict.keys())[0]: list1, 
                                    list(input_dict.keys())[1]: list2})
        full_df = pd.concat([full_df, new_df]).reset_index().drop('index', axis=1)
    return full_df

# Function to generate cycles in data
def enforce_cycles(entities_list, rs_list, size=3, *namelist): # rs_list : Shareholder UEN, Addresses etc
    list1, list2, list3 = [], [], []
    middle_node = ''
    start_node = random.choice(entities_list)
    
    namelist = namelist[0] if namelist else namelist # Get namelist from default tuple
    
    # Iterate through the number of expected nodes in cycle and add to list. E.g. en5 --> sh6, sh6 --> en5
    for i in range(size-1):
        while not middle_node or middle_node in list2:
            middle_node = random.choice(rs_list)
        if namelist:
            name = namelist[rs_list.index(middle_node)]
            list3.append(name)
        list1.append(start_node)
        list2.append(middle_node)
        start_node = middle_node

    # Adds the last row of relationship to create the cycle
    list1.append(start_node)
    temp = list1[0]
    list2.append(temp)
    if list3:
        list3.append(random.choice(namelist)) # Randomly assigns new Appointment to the other direction's relationship

    return list1, list2, list3

In [83]:
enforce_cycles(entities_list, appointments_list, 5, appointments_namelist)

(['en8', 'app4', 'app3', 'app9', 'app7'],
 ['app4', 'app3', 'app9', 'app7', 'en8'],
 ['CTO', 'Project Lead', 'Project Lead', 'HR Manager', 'Finance Manager'])

In [84]:
# Generate Appointments data
appointments_df = generate_data({'Entity UEN': entities_list, 
                                 'Appointment UEN': appointments_list, 
                                 'Appointment Name':appointments_namelist},
                               50, 3, 5) # num_rs, num_cycles, cycle_size
appointments_df

11
3 vars
3 vars
3 vars

   Entity UEN Appointment UEN Appointment Name
0         en0            app0  Finance Manager
1         en1            app1         Director
2         en2            app2    Sales Manager
3         en3            app3     Project Lead
4         en4            app4              CTO
5         en5            app5    Sales Manager
6         en6            app6  Finance Manager
7         en7            app7       HR Manager
8         en8            app8         Director
9         en9            app9     Project Lead
10       en10           app10    Sales Manager
11        en2            app1         Director
12        en0            app0       HR Manager
13        en2            app8       HR Manager
14        en8            app8     Project Lead
15       en10           app10       HR Manager
16        en4            app4     Project Lead
17        en4            app3    Sales Manager
18        en9           app10         Director
19        en3            app0     Project Lead
20        en3            app2         Director
21        en4            app2     Project Lead
22        en4            app4         Director
23        en6           app10  Finance Manager
24        en1            app7       HR Manager
25        en1            app9  Finance Manager
26        en5            app0    Sales Manager
27        en2            app1    Sales Manager
28       en10            app2  Finance Manager
29        en3            app7    Sales Manager
..        ...             ...              ...
47        en5            app2    Sales Manager
48        en4            app8  Finance Manager
49        en3            app5              CTO
50        en3            app8     Project Lead
51        en5            app4  Finance Manager
52        en6            app1         Director
53        en3            app3         Director
54        en3            app4    Sales Manager
55        en1            app0              CTO
56        en6            app8     Project Lead
57        en8            app2              CTO
58        en3            app0         Director
59        en8            app3     Project Lead
60        en3            app2    Sales Manager
61        en5            app8              CTO
62        en2            app0  Finance Manager
63       app0            app4              CTO
64       app4            app7       HR Manager
65       app7            app2    Sales Manager
66       app2             en2     Project Lead
67        en5            app2    Sales Manager
68       app2            app9     Project Lead
69       app9           app10    Sales Manager
70      app10            app6  Finance Manager
71       app6             en5              CTO
72        en3            app8         Director
73       app8            app7       HR Manager
74       app7             en2     Project Lead
75        en2            app4              CTO
76       app4             en3         Director

[77 rows x 3 columns]

In [85]:
# Generate Shareholders data
shareholders_df = generate_data({'Entity UEN': entities_list, 
                                 'Shareholder UEN': shareholders_list},
                               50, 4, 5) # num_rs, num_cycles, cycle_size
shareholders_df

11
2 vars
2 vars
2 vars
2 vars

   Entity UEN Shareholder UEN
0         en0             sh0
1         en1             sh1
2         en2             sh2
3         en3             sh3
4         en4             sh4
5         en5             sh5
6         en6             sh6
7         en7             sh7
8         en8             sh8
9         en9             sh9
10       en10            sh10
11        en7             sh6
12        en1             sh2
13        en4             sh3
14        en7             sh3
15        en1             sh2
16        en9             sh2
17        en8             sh6
18        en0             sh8
19        en1             sh9
20       en10             sh3
21        en3            sh10
22       en10             sh4
23       en10             sh5
24        en0             sh7
25        en1             sh8
26        en1             sh4
27        en3             sh8
28        en8             sh9
29        en2             sh3
..        ...             ...
52        en4             sh1
53        en3             sh8
54        en5             sh6
55        en6             sh1
56        en0             sh8
57        en2             sh6
58        en6             sh8
59       en10             sh5
60        en4             sh1
61        en6             sh2
62        en6             sh1
63        sh1             sh6
64        sh6            sh10
65       sh10             sh8
66        sh8             en6
67        en8             sh4
68        sh4             sh6
69        sh6             sh7
70        sh7             sh8
71        sh8             en8
72        en2             sh9
73        sh9             en8
74        en8             sh7
75        sh7             sh6
76        sh6             en2
77        en2             sh7
78        sh7             en8
79        en8             sh2
80        sh2            sh10
81       sh10             en2

[82 rows x 2 columns]

In [86]:
# Generate addresses data
addresses_df = generate_data({'Entity UEN': entities_list, 
                              'Address': addresses_list},
                            50, 0, 5) # num_rs, num_cycles, cycle_size
addresses_df

11

   Entity UEN Address
0         en0    add0
1         en1    add1
2         en2    add2
3         en3    add3
4         en4    add4
5         en5    add5
6         en6    add6
7         en7    add7
8         en8    add8
9         en9    add9
10       en10   add10
11        en1    add9
12        en0    add3
13        en9    add5
14        en4    add8
15        en7    add4
16        en0    add0
17       en10   add10
18        en2    add2
19        en3    add4
20        en0    add2
21        en8    add6
22        en6    add9
23        en0    add3
24        en7    add9
25        en0    add7
26       en10    add1
27        en2    add0
28        en8    add9
29        en1    add0
..        ...     ...
32        en0    add8
33        en9    add4
34        en7    add5
35       en10    add7
36        en6    add1
37        en3    add8
38        en7    add6
39        en9    add7
40        en6    add2
41        en8    add0
42        en0    add0
43        en3    add3
44        en3    add8
45        en8   add10
46        en3    add9
47       en10    add4
48        en1   add10
49        en5    add0
50        en9    add8
51        en7    add7
52        en1    add5
53        en5    add3
54        en3    add6
55        en7    add4
56        en0    add3
57        en9    add3
58        en0    add6
59        en0    add1
60        en5    add5
61        en3    add0

[62 rows x 2 columns]

In [87]:
# Generate primary SSIC data
pri_ssic_df = generate_data({'Entity UEN': entities_list, 
                             'Primary SSIC': pri_ssic_list},
                           50, 0, 5) # num_rs, num_cycles, cycle_size
pri_ssic_df

11

   Entity UEN Primary SSIC
0         en0        ssic0
1         en1        ssic1
2         en2        ssic2
3         en3        ssic3
4         en4        ssic4
5         en5        ssic5
6         en6        ssic6
7         en7        ssic7
8         en8        ssic8
9         en9        ssic9
10       en10       ssic10
11        en2        ssic5
12       en10        ssic0
13        en1        ssic7
14        en7        ssic3
15        en8        ssic4
16        en5        ssic7
17        en7        ssic5
18        en1        ssic0
19       en10        ssic7
20        en0        ssic4
21        en4        ssic8
22        en9        ssic5
23        en3        ssic0
24        en4       ssic10
25        en3        ssic7
26        en3        ssic6
27        en4        ssic2
28        en6        ssic3
29        en9        ssic4
..        ...          ...
32       en10        ssic3
33        en0        ssic0
34        en3        ssic8
35       en10        ssic5
36       en10        ssic6
37        en8        ssic2
38        en4        ssic6
39        en0        ssic4
40        en8        ssic1
41        en9        ssic3
42        en1        ssic7
43        en0        ssic6
44        en3        ssic6
45        en9        ssic6
46        en9        ssic1
47       en10        ssic9
48        en0        ssic1
49        en3        ssic3
50        en9        ssic1
51        en7        ssic5
52        en8        ssic2
53        en6        ssic9
54        en4        ssic1
55        en1        ssic2
56        en3        ssic2
57       en10        ssic3
58        en1        ssic9
59        en7        ssic0
60        en1        ssic6
61       en10        ssic2

[62 rows x 2 columns]

In [88]:
# Generate corppass data
corppass_df = generate_data({'Entity UEN': entities_list, 
                             'CorpPass': corppass_list},
                           50, 0, 5) # num_rs, num_cycles, cycle_size
corppass_df

11

   Entity UEN CorpPass
0         en0      cp0
1         en1      cp1
2         en2      cp2
3         en3      cp3
4         en4      cp4
5         en5      cp5
6         en6      cp6
7         en7      cp7
8         en8      cp8
9         en9      cp9
10       en10     cp10
11       en10      cp3
12        en8      cp2
13        en4      cp3
14        en2      cp3
15        en2      cp0
16        en2      cp4
17        en3      cp0
18        en4      cp3
19        en7      cp9
20       en10      cp5
21        en0      cp7
22        en6      cp8
23        en6      cp2
24        en9      cp5
25        en1      cp4
26        en7      cp6
27        en5      cp1
28       en10      cp6
29        en4      cp4
..        ...      ...
32        en5      cp3
33        en5      cp8
34       en10      cp8
35        en5      cp5
36       en10      cp8
37        en0     cp10
38        en9      cp6
39        en0     cp10
40        en5      cp5
41        en4      cp8
42       en10     cp10
43        en0      cp5
44        en3      cp1
45        en7     cp10
46        en0      cp6
47        en5      cp2
48        en9      cp3
49        en7      cp0
50        en9      cp1
51        en4      cp1
52        en4      cp9
53       en10     cp10
54        en9      cp2
55        en0      cp9
56        en1      cp6
57        en4      cp1
58        en8      cp7
59        en5      cp9
60        en1      cp0
61        en4      cp8

[62 rows x 2 columns]

In [90]:
# # Creates datasets folder
# if generated_data_filepath.split('/')[1] in os.listdir():
#     print(True)
# else:
#     os.mkdir(generated_data_filepath)
    
# # Output files to csv

# shareholders_df.to_csv(shareholders_filepath, index = False)
# appointments_df.to_csv(appointments_filepath, index = False)
# addresses_df.to_csv(addresses_filepath, index = False)
# pri_ssic_df.to_csv(pri_ssic_filepath, index = False)
# corppass_df.to_csv(corppass_filepath, index = False)

True