# Reading datasets

In [1]:
import pandas as pd
import os, random

In [2]:
generated_data_filepath = './Generated Sample Datasets'

shareholders_filepath = generated_data_filepath + '/shareholders.csv'
appointments_filepath = generated_data_filepath + '/appointments.csv'
addresses_filepath = generated_data_filepath + '/addresses.csv'
pri_ssic_filepath = generated_data_filepath + '/pri_ssic.csv'
corppass_filepath = generated_data_filepath + '/corppass.csv'

In [164]:
# Generate initial list of relationships
entities_list = []
shareholders_list = []
appointments_list = []
appointments_namelist = []
list_of_appointments = ['Director', 'Deputy Director', 'Finance Manager', 'HR Manager', 'Project Lead', 'CTO', 'Sales Manager']
addresses_list = []
pri_ssic_list = []
corppass_list = []

### Select number of entities to be created ###
num_entities = 500

for i in range(num_entities + 1):
    entities_list.append('en' + str(i))
    shareholders_list.append('sh' + str(i))   
    appointments_list.append('app' + str(i)) 
    appointments_namelist.append(random.choice(list_of_appointments))
    addresses_list.append('add' + str(i))   
    pri_ssic_list.append('ssic' + str(i))   
    corppass_list.append('cp' + str(i))

In [165]:
# Function to generate sample data
def generate_data(input_dict, num_rs, num_cycles, cycle_size):
    
    full_df = pd.DataFrame(input_dict, columns = input_dict.keys())
    num_entities = len(full_df)
    print(num_entities)
    # Generate random relationships across default relationships (as generated above)
    for i in range(num_rs + 1):
        temp_dict = {}
        for key in input_dict.keys():
            temp_dict.update({ key: random.choice(input_dict.get(key)[0:num_entities])})
        temp_df = pd.DataFrame([temp_dict])
        full_df = full_df.append(temp_df, sort=False).reset_index().drop(['index'], axis=1)
    
    # Generate cycles
    for i in range(num_cycles):    
        if list(full_df.iloc[:, 2:]):
            print('3 vars')
            list1, list2, list3 = enforce_cycles(list(full_df[list(input_dict.keys())[0]]), 
                                                 list(full_df[list(input_dict.keys())[1]]), 
                                                 cycle_size, 
                                                 list(full_df[list(input_dict.keys())[2]]))
            new_df = pd.DataFrame({list(input_dict.keys())[0]: list1, 
                                    list(input_dict.keys())[1]: list2,
                                    list(input_dict.keys())[2]: list3}) 
        else:
            print('2 vars')
            list1, list2, list3 = enforce_cycles(list(full_df.iloc[:, 0]), 
                                                 list(full_df.iloc[:, 1]), 
                                                 cycle_size)
            new_df = pd.DataFrame({list(input_dict.keys())[0]: list1, 
                                    list(input_dict.keys())[1]: list2})
        full_df = pd.concat([full_df, new_df]).reset_index().drop('index', axis=1)
    return full_df

# Function to generate cycles in data
def enforce_cycles(entities_list, rs_list, size=3, *namelist): # rs_list : Shareholder UEN, Addresses etc
    list1, list2, list3 = [], [], []
    middle_node = ''
    start_node = random.choice(entities_list)
    
    namelist = namelist[0] if namelist else namelist # Get namelist from default tuple
    
    # Iterate through the number of expected nodes in cycle and add to list. E.g. en5 --> sh6, sh6 --> en5
    for i in range(size-1):
        while not middle_node or middle_node in list2:
            middle_node = random.choice(rs_list)
        if namelist:
            name = namelist[rs_list.index(middle_node)]
            list3.append(name)
        list1.append(start_node)
        list2.append(middle_node)
        start_node = middle_node

    # Adds the last row of relationship to create the cycle
    list1.append(start_node)
    temp = list1[0]
    list2.append(temp)
    if list3:
        list3.append(random.choice(namelist)) # Randomly assigns new Appointment to the other direction's relationship

    return list1, list2, list3

In [166]:
enforce_cycles(entities_list, appointments_list, 5, appointments_namelist)

(['en463', 'app341', 'app430', 'app28', 'app35'],
 ['app341', 'app430', 'app28', 'app35', 'en463'],
 ['Project Lead',
  'Finance Manager',
  'Deputy Director',
  'Sales Manager',
  'HR Manager'])

In [168]:
# Generate Appointments data
appointments_df = generate_data({'Entity UEN': entities_list, 
                                 'Appointment UEN': appointments_list, 
                                 'Appointment Name':appointments_namelist},
                               25000, 10, 5) # num_rs, num_cycles, cycle_size
appointments_df

501
3 vars
3 vars
3 vars
3 vars
3 vars
3 vars
3 vars
3 vars
3 vars
3 vars

      Entity UEN Appointment UEN Appointment Name
0            en0            app0  Deputy Director
1            en1            app1       HR Manager
2            en2            app2    Sales Manager
3            en3            app3  Deputy Director
4            en4            app4       HR Manager
5            en5            app5  Deputy Director
6            en6            app6         Director
7            en7            app7              CTO
8            en8            app8  Deputy Director
9            en9            app9       HR Manager
10          en10           app10       HR Manager
11          en11           app11  Deputy Director
12          en12           app12    Sales Manager
13          en13           app13              CTO
14          en14           app14       HR Manager
15          en15           app15         Director
16          en16           app16         Director
17          en17           app17  Deputy Director
18          en18           app18  Finance Manager
19          en19           app19         Director
20          en20           app20              CTO
21          en21           app21              CTO
22          en22           app22     Project Lead
23          en23           app23       HR Manager
24          en24           app24       HR Manager
25          en25           app25     Project Lead
26          en26           app26  Deputy Director
27          en27           app27    Sales Manager
28          en28           app28  Deputy Director
29          en29           app29  Finance Manager
...          ...             ...              ...
25522      en383          app487       HR Manager
25523     app487          app467    Sales Manager
25524     app467           app59         Director
25525      app59          app263              CTO
25526     app263           en383              CTO
25527      en289           app34  Finance Manager
25528      app34          app469    Sales Manager
25529     app469           app12    Sales Manager
25530      app12          app205     Project Lead
25531     app205           en289       HR Manager
25532      en398          app287    Sales Manager
25533     app287          app170  Finance Manager
25534     app170          app165         Director
25535     app165          app335         Director
25536     app335           en398  Deputy Director
25537      en468          app290  Finance Manager
25538     app290            app6         Director
25539       app6          app397              CTO
25540     app397          app415  Deputy Director
25541     app415           en468     Project Lead
25542      en215          app259  Deputy Director
25543     app259          app455    Sales Manager
25544     app455          app248  Deputy Director
25545     app248           app32       HR Manager
25546      app32           en215  Deputy Director
25547      en344          app104              CTO
25548     app104          app395  Deputy Director
25549     app395          app262  Finance Manager
25550     app262          app293  Finance Manager
25551     app293           en344         Director

[25552 rows x 3 columns]

In [169]:
# Generate Shareholders data
shareholders_df = generate_data({'Entity UEN': entities_list, 
                                 'Shareholder UEN': shareholders_list},
                               25000, 10, 5) # num_rs, num_cycles, cycle_size
shareholders_df

501
2 vars
2 vars
2 vars
2 vars
2 vars
2 vars
2 vars
2 vars
2 vars
2 vars

      Entity UEN Shareholder UEN
0            en0             sh0
1            en1             sh1
2            en2             sh2
3            en3             sh3
4            en4             sh4
5            en5             sh5
6            en6             sh6
7            en7             sh7
8            en8             sh8
9            en9             sh9
10          en10            sh10
11          en11            sh11
12          en12            sh12
13          en13            sh13
14          en14            sh14
15          en15            sh15
16          en16            sh16
17          en17            sh17
18          en18            sh18
19          en19            sh19
20          en20            sh20
21          en21            sh21
22          en22            sh22
23          en23            sh23
24          en24            sh24
25          en25            sh25
26          en26            sh26
27          en27            sh27
28          en28            sh28
29          en29            sh29
...          ...             ...
25522       en97           sh463
25523      sh463           sh284
25524      sh284             sh6
25525        sh6           sh429
25526      sh429            en97
25527      en389           sh325
25528      sh325           sh412
25529      sh412           sh321
25530      sh321           sh455
25531      sh455           en389
25532      en329           sh153
25533      sh153           sh389
25534      sh389            sh88
25535       sh88           sh266
25536      sh266           en329
25537      en394           sh463
25538      sh463           sh123
25539      sh123           sh138
25540      sh138           sh146
25541      sh146           en394
25542      en467           sh118
25543      sh118           sh210
25544      sh210            sh36
25545       sh36             sh7
25546        sh7           en467
25547      en194           sh285
25548      sh285            sh80
25549       sh80           sh342
25550      sh342           sh301
25551      sh301           en194

[25552 rows x 2 columns]

In [170]:
# Generate addresses data
addresses_df = generate_data({'Entity UEN': entities_list, 
                              'Address': addresses_list},
                            25000, 0, 5) # num_rs, num_cycles, cycle_size
addresses_df

501

      Entity UEN Address
0            en0    add0
1            en1    add1
2            en2    add2
3            en3    add3
4            en4    add4
5            en5    add5
6            en6    add6
7            en7    add7
8            en8    add8
9            en9    add9
10          en10   add10
11          en11   add11
12          en12   add12
13          en13   add13
14          en14   add14
15          en15   add15
16          en16   add16
17          en17   add17
18          en18   add18
19          en19   add19
20          en20   add20
21          en21   add21
22          en22   add22
23          en23   add23
24          en24   add24
25          en25   add25
26          en26   add26
27          en27   add27
28          en28   add28
29          en29   add29
...          ...     ...
25472      en182   add15
25473      en427  add317
25474      en415  add133
25475       en17  add264
25476       en22  add348
25477       en85  add446
25478      en414  add110
25479      en290    add0
25480      en378   add81
25481      en479  add193
25482      en352  add495
25483      en284  add264
25484      en376   add39
25485      en434  add463
25486      en254  add160
25487      en135  add224
25488      en365  add437
25489      en454  add285
25490       en25  add219
25491      en269   add73
25492       en44  add498
25493      en158  add326
25494      en345  add267
25495      en347  add230
25496       en39  add304
25497      en482  add412
25498      en468  add171
25499      en219  add405
25500      en357  add493
25501       en26   add63

[25502 rows x 2 columns]

In [171]:
# Generate primary SSIC data
pri_ssic_df = generate_data({'Entity UEN': entities_list, 
                             'Primary SSIC': pri_ssic_list},
                           25000, 0, 5) # num_rs, num_cycles, cycle_size
pri_ssic_df

501

      Entity UEN Primary SSIC
0            en0        ssic0
1            en1        ssic1
2            en2        ssic2
3            en3        ssic3
4            en4        ssic4
5            en5        ssic5
6            en6        ssic6
7            en7        ssic7
8            en8        ssic8
9            en9        ssic9
10          en10       ssic10
11          en11       ssic11
12          en12       ssic12
13          en13       ssic13
14          en14       ssic14
15          en15       ssic15
16          en16       ssic16
17          en17       ssic17
18          en18       ssic18
19          en19       ssic19
20          en20       ssic20
21          en21       ssic21
22          en22       ssic22
23          en23       ssic23
24          en24       ssic24
25          en25       ssic25
26          en26       ssic26
27          en27       ssic27
28          en28       ssic28
29          en29       ssic29
...          ...          ...
25472      en259      ssic420
25473      en130      ssic243
25474       en82      ssic330
25475      en243       ssic52
25476      en462      ssic157
25477       en19      ssic206
25478       en59       ssic67
25479      en313      ssic105
25480      en309      ssic399
25481      en194        ssic9
25482      en440      ssic288
25483      en307      ssic138
25484      en116      ssic105
25485      en443       ssic64
25486      en331      ssic442
25487      en308      ssic423
25488      en192      ssic215
25489      en372      ssic216
25490      en102      ssic189
25491       en99      ssic331
25492      en334      ssic323
25493      en463      ssic120
25494      en269      ssic371
25495      en299      ssic342
25496      en389        ssic7
25497      en218      ssic371
25498      en106      ssic324
25499      en284      ssic238
25500       en52      ssic438
25501      en127      ssic141

[25502 rows x 2 columns]

In [172]:
# Generate corppass data
corppass_df = generate_data({'Entity UEN': entities_list, 
                             'CorpPass': corppass_list},
                           25000, 0, 5) # num_rs, num_cycles, cycle_size
corppass_df

501

      Entity UEN CorpPass
0            en0      cp0
1            en1      cp1
2            en2      cp2
3            en3      cp3
4            en4      cp4
5            en5      cp5
6            en6      cp6
7            en7      cp7
8            en8      cp8
9            en9      cp9
10          en10     cp10
11          en11     cp11
12          en12     cp12
13          en13     cp13
14          en14     cp14
15          en15     cp15
16          en16     cp16
17          en17     cp17
18          en18     cp18
19          en19     cp19
20          en20     cp20
21          en21     cp21
22          en22     cp22
23          en23     cp23
24          en24     cp24
25          en25     cp25
26          en26     cp26
27          en27     cp27
28          en28     cp28
29          en29     cp29
...          ...      ...
25472      en306     cp63
25473      en484      cp5
25474      en477    cp375
25475      en238    cp210
25476      en408    cp413
25477      en405    cp498
25478      en252     cp36
25479      en289    cp136
25480      en396    cp212
25481      en194    cp341
25482      en162    cp249
25483      en300    cp337
25484      en168    cp117
25485      en253     cp75
25486      en218     cp89
25487      en190    cp321
25488      en132    cp318
25489       en94     cp64
25490      en237    cp428
25491       en74    cp197
25492      en173    cp149
25493       en45    cp392
25494      en106    cp361
25495      en318    cp360
25496      en398    cp478
25497      en356    cp202
25498      en472    cp356
25499       en20    cp498
25500      en196    cp163
25501      en152    cp123

[25502 rows x 2 columns]

In [173]:
# Creates datasets folder
if generated_data_filepath.split('/')[1] in os.listdir():
    print(True)
else:
    os.mkdir(generated_data_filepath)
    
# Output files to csv

shareholders_df.to_csv(shareholders_filepath, index = False)
appointments_df.to_csv(appointments_filepath, index = False)
addresses_df.to_csv(addresses_filepath, index = False)
pri_ssic_df.to_csv(pri_ssic_filepath, index = False)
corppass_df.to_csv(corppass_filepath, index = False)

True